.innerLayout {
  margin-inline-start: 200;
  min-height: 100vh;
}

.header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.nav-link {
  margin-top: 16px;
}

.menu {
  border: none !important;
}

.content {
  overflow: initial;
  padding: 24px;
  background: white;
  border-radius: 0px;
  border-left: 1px solid lightgray;
}

.sider {
  overflow: auto;
  min-height: 100vh;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-color: unset;
}

.footer {
  background-color: white;
  text-align: end;
  padding: 0 24px 12px 24px;
  font-size: 11px;
  color: gray;
  border-left: 1px solid lightgray;
}

.link {
  color: gray;
  text-decoration: none;
}

.link:hover {
  color: #055f36;
  text-decoration: underline;
}
